<!DOCTYPE html>

<html>
    <head>
        <title>VUE js</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div id="app">
            <input type="text" v-model="message">
            <button v-on:click="cleanMessage">Clear</button>
            <br><br>
            <button v-on:click="setMessageToDefault">Set default</button>
            <br><br>
            <button v-on:click="setMessageToReverse">Reverse</button>
            <br><br>
            <button v-on:click="setMessageToReverse">new test button 1</button>
            <br><br>
            <button v-on:click="setMessageToReverse">new test button 2</button>
            <br><br>
            <button v-on:click="setMessageToReverse">new test button 3</button>
            <h1>{{ message }}</h1>
            
            <ul v-for="(value, name) in product">
                <li>
                    {{name}} - {{value}}
                </li>
            </ul>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: '1 2 3 4 5 6 7 8 9 0',
                    items: [
                        {title: 'Apple'},
                        {title: 'Orange'},
                        {title: 'Banana'},
                        {title: 'Pear'}
                    ],
                    product: {
                        brand: 'Apple',
                        model: 'XR',
                        price: 1000
                    }
                },
                methods: {
                    cleanMessage: function(){
                        this.message = '';
                    },
                    setMessageToDefault: function(){
                        this.message = '1 2 3 4 5 6 7 8 9 0';
                    },
                    setMessageToReverse: function(){
                        this.message = this.message.split('').reverse().join('')
                    },
                    MessageEdit: function(){
                        this.message = this.message.split('').edit().join('')
                    },
                    MessageDelete: function(){
                        this.message = this.message.split('').delete().join('')
                    },
                    setMessageToBreak: function(){
                        this.message = this.message.split('').break().join('')
                    },
                    MessageClone: function(){
                        this.message = this.message.split('').clone().join('')
                    },
                }
            })
        </script>
    </body>
</html>
